{{define "index"}}
{{template "head"}}
      <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleado</a>
      <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{range.}}
        <tr>
          <td>{{.Id}}</td>
          <td>{{.Nombre}}</td>
          <td>{{.Correo}}</td>
          <td>
            <a name="" id="" class="btn btn-warning" href="/editar?id={{.Id}}" role="button">EDITAR</a>
            <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">BORRAR</a>
            </td>
        </tr>
        {{end}}
      </tbody>
    </table>
 {{template "footer"}}
{{end}}